BODY { 	background-color: #111111; color: #e1e1e1; }

H5, LABEL { color: #e1e1e1; }

.table td, .table th {     border-top: 1px solid #333; }

.week_table_header { color: #e1e1e1; }

.badge {font-weight: 400; color: #111; }

.btn-circle { box-shadow: none; }

.drag_icon { color: white; }

#sidebar {
	background-color: rgb(0 0 0 / 75%);
    box-shadow: 5px 5px 18px 0px #777;
}