BODY { 	background-color: #111111; color: white; }

.table td, .table th {  border-top: 1px solid #333; color: white; }

.week_table_header { color: #e1e1e1; }

.badge {font-weight: 400;  }

.btn-circle { box-shadow: none; }

.drag_icon { color: white; }

#sidebar {
	background-color: #222;
    box-shadow: 5px 5px 18px 0px #777;
}

.table-hover>tbody>tr:hover>* {
    background-color: rgb(255 255 255 / 15%);
    color: white; }

div.row-title P {color: white;}

.week_table_cell { border-bottom: 1px solid #777; }

.text-green {    color: lightgreen; }
.text-red   {    color: #F66; }

    #recurring_preview_on,
    #recurring_preview_off
     {
        opacity: 1;
     }

#logcontent {color: #000}

    span.colorkelvin {
        color: white;
    }

tr.row-in-group > td { background-color: #393989;  }
.row-is-group { background-color: #1d1d66 ; }

	span.event-type-j { color: #ffffff;}