<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Simple Scheduler for HA</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/7.4.47/css/materialdesignicons.min.css" >
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js" integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>

	<link href="https://cdn.jsdelivr.net/npm/tom-select@2.4.1/dist/css/tom-select.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/tom-select@2.4.1/dist/js/tom-select.complete.min.js"></script>

<style>
{{ css|safe }}

{% if o.details_uncovered==1 %}
.week_table{ display: table;}
{% endif %}

</style>

</head>
<body>

<div class="wrapper">
		<nav id="sidebar">
			<div id="resize-handle">
				    <svg viewBox="0 0 25 120"  xmlns="http://www.w3.org/2000/svg">
					  <circle cx="10" cy="15" r="2" fill="#888"/>
					  <circle cx="10" cy="30" r="2" fill="#888"/>
					  <circle cx="10" cy="45" r="2" fill="#888"/>
					  <circle cx="10" cy="60" r="2" fill="#888"/>
					  <circle cx="10" cy="75" r="2" fill="#888"/>
					</svg>
			</div>
			<button type="button" aria-label="Close" class="btn btn-outline-secondary btn-sm" onclick="toggle_sidebar();">>>></button>

			<div id="sidebar-wrapper">
				...
			</div>
		</nav>

		<form action="saveconfig" method="get" id="config-form" >

		<div class="content" >
			<div>
				<table class="table table-hover" id="dtable">
					<thead class="bg-primary">
					<tr>
					  <th scope="col" colspan="6" >
						  <span class="titlebar_span" id="title">SimpleScheduler</span>
						  <span class="titlebar_span" id="show-add" title="New scheduler"><button type="button" class="btn btn-default bg-white main-color" ><span class="mdi mdi-plus"></span></button></span>
						  <span class="titlebar_span" id="add-group" title="New group"><button type="button" class="btn btn-default bg-white main-color"><span class="mdi mdi-format-list-group-plus"></span></button></span>
						  <span class="titlebar_span" id="show-log" title="Show log"><button type="button" class="btn btn-default bg-white main-color" ><span class="mdi mdi-file-document-outline" ></span></button></span>
						  <span class="titlebar_span" id="show-config" title="Edit config"><button type="button" class="btn btn-default bg-white main-color" ><span class="mdi mdi-cog-outline"></span></button></span>

					  </th>
					</tr>
					</thead>
					<tbody>

					{% if groups %}
					{% for key, group in groups.items() %}
					   {% set group_id = "group-" + key %}
						<tr data-value="{{ group_id }}" data-order="{{ sort[group_id] }}"  class="row-is-group" data-group="{{ key }}" style="opacity: 1;"  {% if group.closed %}start-closed{% endif %}  >
							<td class="text-left fit drag_cell"><span class="mdi mdi-drag mdi-24px drag_icon" ></span></td>
							<td colspan="5" title="Drag a scheduler over to add it to the group. Drag it away to remove it">
								<span class="group-icon"><span class="mdi mdi-18px mdi-triangle mdi-rotate-180" ></span></span>
								<span class="group-name">{{ group.name }}</span>
								<span class="group-rename" title="Rename group"><span class="mdi mdi-18px mdi-pencil " ></span></span>
								<span class="group-recap"><span class="group-recap-en"></span><span class="group-recap-dis"></span></span>
								<span class="group-delete" title="Delete group"><span class="mdi mdi-18px mdi-delete" ></span></span>
							</td>
						</tr>
					{% endfor %}
					{% endif %}

					{% for s in data %}

							{% set ns_id = namespace(value = None) %}
							{% if groups %}
								{% for key, group in groups.items() %}
									{% for value in group["values"] %}
										{% if s.id|string|lower|trim == value|string|lower|trim %}
											{% set ns_id.value = key %}
										{% endif %}
									{% endfor %}
								{% endfor %}
							{% endif %}
							{% set group_id = ns_id.value %}

						  <tr data-value="{{ s.id }}" data-order="{{ sort[s.id] if sort[s.id] is number else 99999 }}" class="row-is-item {% if group_id %}row-in-group{% endif %}" style="opacity: {{ '1' if s.enabled else '0.3' }}" {% if group_id %}data-group="{{ group_id }}"{% endif %}>
							  <td class="text-left fit drag_cell"><span class="mdi mdi-drag mdi-24px drag_icon" ></span></td>
							  {% if s.weekly %}
							  <td class="text-left fit" title="Weekly"><span class="mdi mdi-calendar-range mdi-24px" ></span> </td>
							  {% elif s.recurring %}
							  <td class="text-left fit" title="Recurring"><span class="mdi mdi-calendar-refresh mdi-24px" ></span> </td>
							  {% else %}
							  <td class="text-left fit" title="Daily"><span class="mdi mdi-calendar-week mdi-24px" ></span> </td>
							  {% endif %}

							  <td class="text-left fit">{% if s.template %}<span class="mdi mdi-directions-fork mdi-24px" ></span>{% endif %}</span></td>

							  <td class="text-left fit" >
								<button type="button" class="btn btn-default bg-primary edit-button" aria-id="{{ s.id }}" title="Edit"><span class="mdi mdi-pencil" ></span></button>
								<button type="button" class="btn btn-default bg-primary view-button" aria-id="{{ s.id }}" title="Details"><span class="mdi mdi-eye" ></span></button>
							  </td>
							  <td  class="name_col" >
								<div class="row-title"><p data-bs-toggle="tooltip" data-bs-html="true"  title="{{ s.id }}" >{{ s.name }}</p></div>
								<div class="entities_list">
								{% if s.entity_id %}
								{% for e in s.entity_id %}
									<span class="badge bg-primary" data-bs-toggle="tooltip" data-bs-html="true"  title="{{ e }}" >{{ friendlynames[e] }}</span>
								{% endfor %}
								{% endif %}
								</div>
							  </td>
							  {% if s.weekly %}
							  <td>
								<div class="week_table w_mode" id="detail_{{ s.id }}">
									<div class="week_table_row week_table_header">
										<div class="week_table_cell"></div>
										{% for wd in range(1, 8): %}
											   <div class="week_table_cell" style="width: 13.5%;" >
											   {{ weekday[wd] }}
											   </div>
										{% endfor%}
									</div>
									<div class="week_table_row text-green week_table_row_bottom_line">
										<div class="week_table_cell "><span class="badge  dowHiglightG ">{{ o.translations.text_ON }}</span></div>
										{% for wd in range(1, 8): %}
											   <div class="week_table_cell">
												{{ format_event(s.weekly['on_'+wd|string], True)|safe }}
											   </div>
										{% endfor%}
									</div>
									<div class="week_table_row text-red week_table_row_bottom_line">
										<div class="week_table_cell "><span class="badge  dowHiglightR ">{{ o.translations.text_OFF }}</span></div>
										{% for wd in range(1, 8): %}
											   <div class="week_table_cell">
												{{ format_event(s.weekly['off_'+wd|string], False)|safe }}
											   </div>
										{% endfor%}
									</div>
								</div>
							  </td>
							  {% elif s.recurring %}
							  <td class="event-cell">
									<div class="week_table d_mode"  id="detail_{{ s.id }}">
										<div class="week_table_row ">
											<div class="week_table_cell ">
												{% if s.on_dow and s.on_tod %}
													<div class="event-list text-green">
														<span>  {{ s.recurring.on_start }} <i class="mdi mdi-arrow-left-right-bold" ></i> {{ s.recurring.on_end }}
														<span class="mdi mdi-timer-sand" >{{ s.recurring.on_interval }}m</span></span>
													</div>
													<!-- <div style="clear:both;" class="event-list text-green">{{ format_event(s.on_tod, True)|safe }}</div> -->
													<div style="clear:both;">{{ get_friendly_html_dow(s.on_dow,True)|safe }}</div>
												{% endif %}
											</div>
											<div class="week_table_cell ">
												{% if s.off_dow and s.off_tod %}
													<div class="event-list text-red">
														<span>  {{ s.recurring.off_start }} <i class="mdi mdi-arrow-left-right-bold" ></i> {{ s.recurring.off_end }}
														<span class="mdi mdi-timer-sand" >{{ s.recurring.off_interval }}m</span></span>
													</div>
													<!-- <div style="clear:both;" class="event-list text-red">{{ format_event(s.off_tod, False)|safe }}</div> -->
													<div style="clear:both;">{{ get_friendly_html_dow(s.off_dow,False)|safe }}</div>
												{% endif %}
											</div>
										</div>
									</div>
							  </td>
							 {% else %}
							  <td class="event-cell">
									<div class="week_table d_mode"  id="detail_{{ s.id }}">
										<div class="week_table_row ">
											<div class="week_table_cell ">
												{% if s.on_dow and ( s.on_tod or s.on_tod_false ) %}
														<div class="event-list text-green">
															{% if s.on_tod_false and s.on_tod %}
															<span class="mdi mdi-thumb-up" style="margin-bottom:0;"></span>
															{% endif %}
															{{ format_event(s.on_tod, True)|safe }}
														</div>
													{% if s.on_tod_false %}
													<div style="clear:both;">
														<div class="event-list text-green">
															<span class="mdi mdi-thumb-down" style="margin-bottom:0;"></span>
															{{ format_event(s.on_tod_false, True)|safe }}
														</div>
													</div>
													{% endif %}
													<div style="clear:both;">{{ get_friendly_html_dow(s.on_dow,True)|safe }}</div>
												{% endif %}
											</div>
											<div class="week_table_cell ">
												{% if s.off_dow and ( s.off_tod or s.off_tod_false ) %}
													<div class="event-list text-red">
														{% if s.off_tod_false and s.off_tod %}
														<span class="mdi mdi-thumb-up" style="margin-bottom:0;"></span>
														{% endif %}
														{{ format_event(s.off_tod, False)|safe }}</div>
												    {% if s.off_tod_false %}
													<div style="clear:both;">
														<div class="event-list text-red">
															<span class="mdi mdi-thumb-down" style="margin-bottom:0;"></span>
															{{ format_event(s.off_tod_false, True)|safe }}
														</div>
													</div>
													{% endif %}
													<div style="clear:both;">{{ get_friendly_html_dow(s.off_dow,False)|safe }}</div>
												{% endif %}
											</div>
										</div>
									</div>
							  </td>
							  {% endif %}
						  </tr>

					{% endfor %}

					</tbody>
				</table>
			</div>

		</div>

        </form>

		<div class="overlay"></div>

		<footer class="footer">
		  <div class="statusbar">
			<p>
				<span class="statusbar_span"><span class="mdi mdi-weather-sunset-up" ></span> {{ statusbarinfo.sunrise }}</span>
				<span class="statusbar_span"><span class="mdi mdi-weather-sunset-down" ></span> {{ statusbarinfo.sunset }}</span>
				<span class="statusbar_span"><span class="mdi mdi-map-clock-outline" ></span> {{ statusbarinfo.timezone }}</span>
				<span class="statusbar_span">MQTT: {{ statusbarinfo.mqtt }}</span>

			</p>
		  </div>
		</footer>
</div>

<div id="log_wrapper" >
	<div>
		<pre id="logcontent"></pre>
		<button type="button" class="btn btn-secondary" id="closelog"><span class="mdi close-box-outline" ></span> Close </button>
	</div>
</div>
<div id="block_background" ></div>

<script>

	$( document ).ready(function() {

			let $tbody = $("#dtable tbody");

			let $rows = $(".row-is-item, .row-is-group");

			$rows.sort(function (a, b) {
				let orderA = $(a).data("order");
				let orderB = $(b).data("order");
				return parseInt(orderA, 10) - parseInt(orderB, 10);
			});

			$tbody.append($rows);

			updateOrder();

			$tbody.sortable({
				items: ".row-is-item, .row-is-group",
				handle: ".drag_icon",
				distance: 5,
				delay: 100,
				opacity: 0.6,
				cursor: 'move',
				update:  function(e, ui) {
							updateOrder();
							let item = ui.item;
							if (item.hasClass("row-is-group")) {
								let group = item.attr("data-group");
								let $groupRows = $(`tr[data-group='${group}']`).not(".row-is-group");
								item.after($groupRows);
							} else if (item.hasClass("row-is-item")) {
								let group = item.prev().attr("data-group");
								if (group) {
									item.attr("data-group", group).addClass("row-in-group");
									let group_tr = $(`tr.row-is-group[data-group='${group}']`);
									openGroup(group_tr);
								} else {
									item.removeAttr("data-group").removeClass("row-in-group");
								}
							}
							sendSortData();
							group_recap();
						},
                start: function(event, ui) {
                    		if (ui.item.hasClass("row-is-group")) { closeGroup(ui.item); }
                		},
				beforeStop: function(event, ui) {
							const $draggedItem = ui.item;
							const isGroupRow = $draggedItem.hasClass('row-is-group');

							if (isGroupRow) {
								const newIndex = ui.item.index();
								const $items = ui.item.parent().children();
								const $prev = $items.eq(newIndex - 1);
								const $next = $items.eq(newIndex);
								const prevGroup = $prev.attr('data-group');
								const nextGroup = $next.attr('data-group');
								if (prevGroup && nextGroup) {
									$(this).sortable('cancel');
								}
							}
						}
			}).disableSelection();

		    $("tr.row-is-group[start-closed]").each(function () {
        		closeGroup(this);
    		});

			$("tr.row-is-group:not([start-closed])").each(function () {
				openGroup(this);
			});

			group_recap();



	});

function updateOrder() {
	$("#dtable tbody tr").each(function(index) {
		$(this).attr("data-order", index + 1);
	});
}

function sendSortData() {
	var orderlist = '';
	$('tr').each(function (i) {
		$(this).attr('data-order',i);
		orderlist=orderlist+'&list['+i+']='+$(this).attr('data-value');
	});
	let json_groups = btoa(generateJsonFromTable());
	$("#sidebar-wrapper").load("sort?"+orderlist+"&groups="+json_groups);

}

function generateGroupId() {
	let randomHex = Math.floor(Math.random() * 0xFFFFFFFFFF).toString(16);
	return randomHex.padStart(10, '0');
}

function generateJsonFromTable() {
	let groups = {};

	$('#dtable tbody tr').each(function() {
		let $row = $(this);
		let dataValue = $row.attr('data-value');
		let dataGroup = $row.attr('data-group');
		let groupName = $row.find('span.group-name').text().trim();
		let closed = $row.find(".group-icon > .mdi").hasClass("mdi-rotate-90");

		if (dataGroup) {
			if (!groups[dataGroup]) {
				groups[dataGroup] = {
					name: groupName,
					closed: closed,
					values: []
				};
			}
			if (!dataValue.startsWith('group-')) {
				groups[dataGroup].values.push(dataValue);
			}
		}
	});
	// console.log(groups);
	let jsonString =  JSON.stringify(groups);
	return jsonString;
}

function toggleGroup(t) {
	let group = $(t).attr("data-group");
	let rows = $(`.row-in-group[data-group='${group}']`);
	let icon = $(t).find(".group-icon > .mdi");
	let recap = $(t).find(".group-recap");

	if (rows.is(":visible")) {
		rows.hide();
		recap.show();
		icon.removeClass("mdi-rotate-180").addClass("mdi-rotate-90");
	} else {
		rows.show();
		recap.hide();
		icon.removeClass("mdi-rotate-90").addClass("mdi-rotate-180");
	}
	sendSortData();
}

function openGroup(t) {
	let group = $(t).attr("data-group");
	let rows = $(`.row-in-group[data-group='${group}']`);
	let icon = $(t).find(".group-icon > .mdi");
	let recap = $(t).find(".group-recap");
	rows.show();
	recap.hide();
	icon.removeClass("mdi-rotate-90").addClass("mdi-rotate-180");
	sendSortData();
}

function closeGroup(t) {
	let group = $(t).attr("data-group");
	let rows = $(`.row-in-group[data-group='${group}']`);
	let icon = $(t).find(".group-icon > .mdi");
	let recap = $(t).find(".group-recap");
	rows.hide();
	recap.show();
	icon.removeClass("mdi-rotate-180").addClass("mdi-rotate-90");
	sendSortData();
}

function group_recap() {
    document.querySelectorAll("tr.row-is-group").forEach(groupRow => {
        let groupId = groupRow.getAttribute("data-group");
        let recapSpanEnable = groupRow.querySelector(".group-recap-en");
        let recapSpanDisable = groupRow.querySelector(".group-recap-dis");

        if (groupId) {
            let rowsInGroup = document.querySelectorAll(`tr.row-in-group[data-group='${groupId}']`);
            let enabledCount = 0;
            let disabledCount = 0;

            rowsInGroup.forEach(row => {
                let opacity = parseFloat(window.getComputedStyle(row).opacity);
                if (opacity === 1) {
                    enabledCount++;
                } else {
                    disabledCount++;
                }
            });

            recapSpanEnable.innerHTML  = `<div>${enabledCount}</div>`;
            recapSpanDisable.innerHTML  = `<div>${disabledCount}</div>`;
        }
    });
}

var isResizing = false;
var startX;
var startWidth;

function getClientX(e) {
	if (e.type.startsWith("touch")) {
		return e.touches[0].clientX;
	} else {
		return e.clientX;
	}
}

$("#resize-handle").on("mousedown touchstart", function (e) {
	isResizing = true;
	startX = getClientX(e);
	startWidth = $("#sidebar").width();
	$("body").css("user-select", "none");

	// Impedisci lo scroll su touch
	if (e.type === "touchstart") e.preventDefault();
});

$(document).on("mousemove touchmove", function (e) {
	if (isResizing) {
		let currentX = getClientX(e);
		let newWidth = startWidth - (currentX - startX);
		$("#sidebar").css("width", newWidth + "px");

		// Impedisci lo scroll su touch
		if (e.type === "touchmove") e.preventDefault();
	}
});

$(document).on("mouseup touchend", function () {
	if (isResizing) {
		isResizing = false;
		$("body").css("user-select", "");
	}
});

	function toggle_false_condition_section() {
			t = document.getElementById('template');
			if (t.value=='') {
				$('.false_condition_section').each(function() { this.style.display="none"; });
			} else {
				$('.false_condition_section').each(function() { this.style.display="block"; });
			}
	}

	function toggle_sidebar(){
		$("#sidebar").hide();
		$("body").css('overflow','auto');
	}

	$(document).on('click', '.name_col , .event-cell', function () {
			toggle_sidebar();
	});

	$("#add-group").click(function() {
		let id = generateGroupId();
		let newRow = $(`<tr data-value='group-${id}' class='row-is-group' data-group='${id}'>
			<td class="text-left fit drag_cell"><span class="mdi mdi-drag mdi-24px drag_icon" ></span></td>
			<td colspan='5'>
				<span class="group-icon"><span class="mdi mdi-18px mdi-triangle mdi-rotate-180" ></span></span>
				<span class='group-name'>Group ${id}</span>
				<span class="group-rename"><span class="mdi mdi-18px mdi-pencil " ></span></span>
				<span class="group-recap"><span class="group-recap-en"><div>0</div></span><span class="group-recap-dis"><div>0</div></span></span>
				<span class="group-delete"><span class="mdi mdi-18px mdi-delete" ></span></span>
				</td>
		</tr>`);
		$("#dtable tbody").prepend(newRow);
		updateOrder();
		sendSortData();
	});

	$(document).on("click", ".group-icon", function() {
		$("#sidebar").hide();
		let tr = this.closest("tr");
		toggleGroup(tr);
	});

	$(document).on("click", ".group-rename", function(event) {
		event.stopPropagation();
		let groupRow = $(this).closest(".row-is-group");
		let groupName = groupRow.find(".group-name");
		let newName = prompt("Group name:", groupName.text());
		if (newName) {
			groupName.text(newName);
		}
		sendSortData();
	});

	$(document).on("click", ".group-delete", function(event) {
		event.stopPropagation();
		let groupRow = $(this).closest(".row-is-group");
		let group = groupRow.attr("data-group");
		let groupItems = $(`tr[data-group='${group}']`).not(".row-is-group");
		groupItems.removeAttr("data-group").removeClass("row-in-group");
		groupItems.show();
		groupRow.remove();
		updateOrder();
		sendSortData();
	});


	$(document).on('click', '.edit-button', function () {
			v=$(this).attr('aria-id');
			$("#sidebar-wrapper").html('');
			$("#sidebar").show();
			$("body").css('overflow','hidden');
            $("#sidebar-wrapper").load("edit?id="+v, function() {
				var settings = {plugins: ['dropdown_input'],sortField: 'text'};
				$(".entity-dropdown-fix").each(function( t ) {
					  this.value = $(this).attr('aria-data');
					});
				toggle_false_condition_section();
				document.querySelectorAll('.entity-dropdown-fix').forEach((el)=>{
					new TomSelect(el,settings);
				});

			});

    });

	$(document).on('click', '.view-button', function () {
			var v=$(this).attr('aria-id');
			var t="#detail_"+v;
			if ($(t).css('display')=="table") {
				$(t).css('display','none');
			}else{
				$(t).css('display','table');
			}
    });

	$(document).on('click', '#show-add', function () {
			$("#sidebar-wrapper").html('');
			$("#sidebar").show();
            $("#sidebar-wrapper").load("new");
    });

	$(document).on('click', '#show-config', function () {
			$("#sidebar").hide();
			$("body").css('overflow','auto');
            $("#dtable tbody").load("config");
    });

	$(document).on('click', '#close-config', function () {
            window.location.href="main";
    });

	$(document).on('click', '#save-config', function () {
			var f = document.getElementById("config-form");
			$("input:checkbox:not(:checked)").each( function () {
				$(this).prop('checked',true);
				$(this).attr('value','0');
			})
			f.submit();
	});

	$(document).on('click', '#clone-button', function () {
			var id=$(this).attr('aria-id');
			window.location.href ='clone?id='+id;
    });

	$(document).on('click', '.delete-button', function () {
			var id=$(this).attr('aria-id');
			if (window.confirm("Are you sure?")) {
				window.location.href ='delete?id='+id;
			}
    });

	$(document).on('click', '.img-add-new', function () {
			v=$(this).attr('aria-id');
			$("#sidebar-wrapper").html('');
			$("#sidebar").show();
            $("#sidebar-wrapper").load("edit?id="+0+"&type="+v, function() {
				var settings = {plugins: ['dropdown_input'],sortField: 'text'};
				new TomSelect('.entity-dropdown-fix',settings);
            });
    });

	$(document).on('click', '.generate_button', function () {
			action=$(this).attr('aria-valuetext');
			r = document.getElementById('recurring_preview_'+action);
			generate_recurrent(action);
			if ($(r).css('display')=="none") {
				$(r).css('display','block');
			}else{
				$(r).css('display','none');
			}
	});

	$(document).on('submit', '.edit-form', function () {
			var f = document.getElementById("edit-form");
			var t = f.type.value;
			if (t=="recurring") {
				generate_recurrent("on");
				generate_recurrent("off");
			}
	});

	$(document).on('keyup', '.time_validate', function () {
			obj=$(this);
			field=obj[0];
			var timeREGEX = /^[0-9]{2}:[0-9]{2}$/;
			if (timeREGEX.test(field.value) || field.value=="") {
				field.classList.remove("is-invalid");
				document.getElementById("save-button").disabled=false;
			} else {
				field.classList.add("is-invalid");
				document.getElementById("save-button").disabled=true;
			}
	});

	$(document).on('keyup', '.interval_validate', function () {
			obj=$(this);
			field=obj[0];
			var intervalREGEX = /^[0-9]{1,3}$/;
			if (intervalREGEX.test(field.value) || field.value=="") {
				document.getElementById("save-button").disabled=false;
				field.classList.remove("is-invalid");
			} else {
				document.getElementById("save-button").disabled=true;
				field.classList.add("is-invalid");
			}
	});

	$(document).on('click', '#removeRow', function () {
			$(this).closest('#inputFormRow').remove();
	});

	$(document).on('click', '#show-log', function () {
			$("#sidebar").hide();
			$("body").css('overflow','auto');
			$("#logcontent").load("log" , function() {
					$('#logcontent').scrollTop( $('#logcontent')[0].scrollHeight );
				});
			$("#log_wrapper").css('display','block');
			$("#block_background").css('width','100%');
			$("#block_background").css('height','100%');
			$("#block_background").css('background-color','#777777e6');
	});

	$(document).on('click', '#closelog', function () {
			$("#log_wrapper").css('display','none');
			$("#block_background").css('width','0%');
			$("#block_background").css('height','0%');
			$("#block_background").css('background-color','#77777700');
	});

	function generate_recurrent(action) {
			r = document.getElementById('recurring_preview_'+action);
			r.innerHTML = "";

			start=document.getElementById(action+'_start').value;
			end=document.getElementById(action+'_end').value;
			interval=document.getElementById(action+'_interval').value;

			var startDate= new Date("2022-01-01T" + start +":00Z");
			var endDate = new Date("2022-01-01T" + end +":00Z");
			s = startDate.getTime();
			e = endDate.getTime();

			if (s<e) {
				while ( s<=e ) {
				  out = new Date(s)
				  t = out.toUTCString().substring(17, 22)
				  if (t.length>0) r.innerHTML += t + " ";
				  s = s + (interval * 60000);
				}
			} else {
				r.innerHTML = ""
			}
			document.getElementById(action+'_tod').value=r.innerText;
	}

	var intervalcheck = window.setInterval(function(){
		$.get("dirty", function( r ) {
			if (r=="1") location.reload();
		});
	}, 3000);


	$(document).on('keyup', '#template', function () {
		toggle_false_condition_section();
	});

	$(document).on('focusout', '#template', function () {
			t = this.value;
			if (t=='') return false;
			$.get("validatetemplate?t="+t, function( r  ) {
				ta = document.getElementById('template');
				notice = document.getElementById('notice')
				if (r=='true' || r=='false' )  {
					notice.style.background = "green";
					notice.innerHTML="Template is valid! Result: <b>"+r;
				} else {
					notice.style.background = "red";
					notice.innerHTML=r;
				}
			   notice.style.opacity = "1";
			   notice.style.height = "auto";
			   notice.style.marginTop = "1em";
			   setTimeout(function() {
				   notice.style.opacity = "0";
				   notice.style.height = "0";
				   notice.style.marginTop = "0";
				   notice.innerHTML='';
			   }, 5000);
			});
	});

	$(document).on('click', '#addRow', function () {
			var randomId = Math.floor(Math.random() * 900000) + 100000;
			var elementId = 'NEWENTITYSELECT-' + randomId;
			var html = '';
			html += '<div id="inputFormRow">';
			html += '<div class="input-group mb-3">';
			html += '<select id="' + elementId + '" name="entity_id[]" class="entity-dropdown-fix new-dropdown">{{ switchlist|safe }}</select>';
			html += '<div class="input-group-append"><button id="removeRow" type="button" class="btn btn-danger"><span class="mdi mdi-delete"></span></button></div>';
			html += '</div>';
			html += '</div>';
			$("#info").html('Clic ADD');
			$('.indexInput').append(html);
			var settings = {plugins: ['dropdown_input'], sortField: 'text'};
			new TomSelect('#' + elementId, settings);
	});

	$(document).on('dblclick', '.row-is-item', function () {
			toggleDisabled(this);
	});

	let lastTap = 0;

	$(document).on('touchend', '.row-is-item', function (e) {
		const currentTime = new Date().getTime();
		const tapLength = currentTime - lastTap;

		if (tapLength < 500 && tapLength > 0) {
			toggleDisabled(this); // Per dispositivi touch
			e.preventDefault();
		}

		lastTap = currentTime;
	});

	function toggleDisabled(tr) {
			id=$(tr).attr('data-value');
			o=tr.style.opacity;
			V = (o=="0.3") ? '1' : '0';

			$.get('update_json', { id: id, f: 'enabled' ,v: V }, function(response) {
					if (response == '1') {
						if (V=='0') V="0.3";
						tr.style.opacity=V;
						group_recap();
					}
			});
	}


	$(document).on('dblclick', '.row-is-group', function () {
			let group = $(this).attr("data-group");
			let rows = $(`.row-in-group[data-group='${group}']`);
			rows.each( function () {
				toggleDisabled(this);
			});
			sendSortData();
	});

</script>


</body>
</html>
