
#sidebar {
	display:none;
    min-width: 250px;
    max-width: 25%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
	padding: 1em;
    z-index: 9999;
	background-color: rgba(255,255,255,0.98);
    box-shadow: 5px 5px 18px 0px #000;	
}

.edit-form > div {
	margin: 1em 0;
}

.btn-default { color: white;}

.dowIcon  {
	border: 0px solid ;
	border-radius: 20px;
	background: grey;
	color: white;
	font-size: 1rem;
	width: 2rem;
	height: 2rem;
	line-height: 2rem;
	text-align: center;
	margin-right: 0.1em;
	display: inline-block
}

.dowHiglightR { 	background: red ; }
.dowHiglightG { 	background: green ; }

.icon-space {width: 32px;}

.text-green {color:green;}
.text-red   {color:red;}
.text-white   {color:white;}

.bg-primary  {color:white;}


div.edit-section-label {
	width: 100%;
	border-bottom: 1px solid #777;
	margin-top: 1em;
}
div.edit-section-label label{
	line-height: 1em;
	font-weight: bold;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
	background: navy;
	color: white;
	box-shadow: 2px 2px 10px 0px #777;
}

.floating-bottom-right {
	position: fixed;
	bottom: 5%;
	right: 5%;
}

.table td, .table th {
    vertical-align: middle;
    
}

.event-list span {
	font-weight: bold;
	font-size: 1.25rem;
	margin-right: 1rem;
	line-height: 2rem;
}


footer {
	position: fixed;
	bottom: 0;
	right: 0;
	margin:0;
	padding: 0;
	width: 100%;
	height: 2em;
	line-height: 2em;
	font-size: 0.8em;
	background-color: grey;
	color: white;
}

footer .statusbar {
	margin-left: 1em;
}

.statusbar_span {margin-right: 2em;}

@media screen and (min-width: 1281px) {
	html {	font-size: 10pt; }
}

@media screen and (max-width: 1280px) {
	html {	font-size: 9pt; }
}

@media screen and (max-width: 800px) {
	
html {	font-size: 8pt; }

TABLE TD {
	display: block;
	text-align: center;
	border: none !important;
}

TABLE TD:first-child {display:none;}
TABLE TD:nth-child(2) {

}

TABLE TR {
    box-shadow: 0px -10px 20px -10px #777;
}

TABLE THEAD {
	display: none;
}

}
