
.dowIcon  {
	border: 0px solid ;
	border-radius: 20px;
	background: grey;
	color: white;
	width: 32px;
	height: 32px;
	text-align: center;
	line-height: 32px;
	margin-right: 0.1em;
	display: inline-block
}

.text-green {color:green;}
.text-red   {color:red;}

.dowHiglightR { 	background: red ; }
.dowHiglightG { 	background: green ; }

.icon-space {width: 32px;}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
	background: navy;
	color: white;
	box-shadow: 2px 2px 10px 0px #777;
}

.floating-bottom-right {
	position: fixed;
	bottom: 5%;
	right: 5%;
}

.resize-icon:before {
	line-height: 1em;
	margin: -6px 0;
	
}
